body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  width: 100%;
}

form, .todo-section {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

form {
  justify-content: space-around;
}

input[type=submit] {
  cursor: pointer;
}

.todo-section {
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

.completed-task {
  text-decoration: line-through;
  opacity: 0.4;
  transition: all 0.5s ease;
}